    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% comment %} Description: front-matter override > excerpt > site default {% endcomment %}
    {% if page.description %}
      {% assign meta_description = page.description %}
    {% elsif page.excerpt %}
      {% assign meta_description = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
    {% else %}
      {% assign meta_description = site.description %}
    {% endif %}

    {% comment %} Title: page > site {% endcomment %}
    {% if page.title %}
      {% assign meta_title = page.title %}
    {% else %}
      {% assign meta_title = site.name %}
    {% endif %}

    {% comment %} Image: front-matter override > site default {% endcomment %}
    {% if page.image %}
      {% assign meta_image = page.image | absolute_url %}
    {% else %}
      {% assign meta_image = '/images/BP_New.png' | absolute_url %}
    {% endif %}

    {% assign meta_url = page.url | absolute_url %}

    {% if page.layout == 'post' %}
      {% assign meta_type = 'article' %}
    {% else %}
      {% assign meta_type = 'website' %}
    {% endif %}

    <meta name="description" content="{{ meta_description }}" />
    <meta name="author" content="{{ page.author | default: site.name }}" />
    <link rel="canonical" href="{{ meta_url }}" />

    <!-- Open Graph (Facebook, LinkedIn, Discord, iMessage) -->
    <meta property="og:type" content="{{ meta_type }}" />
    <meta property="og:url" content="{{ meta_url }}" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{ meta_image }}" />
    <meta property="og:site_name" content="BadgePirates" />
    {% if page.layout == 'post' and page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% if page.author %}<meta property="article:author" content="{{ page.author }}" />{% endif %}
    {% endif %}

    <!-- Twitter / X Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@badgepirates" />
    <meta name="twitter:title" content="{{ meta_title }}" />
    <meta name="twitter:description" content="{{ meta_description }}" />
    <meta name="twitter:image" content="{{ meta_image }}" />
